@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
  <img src="https://i.postimg.cc/mgGzBYxy/ISTEA.png" class="card-img-top" alt="..." width="100" height="50">

  <div class="card-body">
    <br>
    <h5 class="card-title">Herramientas de programación</h5>
    <br>
    <p class="card-text">Profesor: Manuel Fondovila</p>
    <p class="card-text">Alumno: Emanuel Leyes</p>
    <p class="card-text">División: A - Martes </p>
    <a href="https://www.istea.edu.ar/" class="btn btn-primary">Visitar web ISTEA</a>
  </div>
</div>
